.container_card {
    margin: 1rem auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.container_card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.card_img_top {
    height: 200px;
    object-fit: cover;
}

.card_body {
    text-align: center;
}

.card_text {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.link {
    text-decoration: none;
    color: inherit;
}
