html, body {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main-content {
    flex: 1;
}

.container_footer {
    flex-shrink: 0;
}

.p_footer {
    font-size: 14px;
}
