:root {
    font-family: 'Roboto';
    background-color: rgb(173, 223, 184);
}

.container {
    background-color: rgb(173, 223, 184);
}

.card_left {
    margin-top: 50px;
    margin-left: 80px;
    height: 500px !important;
    width: 70%;
    border-radius: 20px !important;
    border-color: rgb(79, 180, 101) !important;
    border-width: 3px !important;
}

.card_right {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 80px;
    height: 500px !important;
    width: 70%;
    border-radius: 20px !important;
    border-color: rgb(79, 180, 101) !important;
    border-width: 3px !important;
}

.logo {
    width: 400px !important;
    margin-left: 40px;
    margin-bottom: 25px;
    margin-top: 70px;
}

.boton_submit {
    background-color: rgb(173, 223, 184) !important;
    border-color: rgb(173, 223, 184) !important;
    border-radius: 20px !important;
    width: 100px;
    color: black;
    margin-top: 20px;
}

.boton_signup {
    background-color: rgb(173, 223, 184) !important;
    border-color: rgb(79, 180, 101) !important;
    border-width: 2px !important;
    border-radius: 15px !important;
    color: black !important;
    width: 120px;
    height: 40px;
    padding: 5px !important;
}

.boton_signup:hover {
    background-color: rgb(178, 243, 200) !important;
}

h2 {
    font-size: 35px !important;
}

input {
    width: 400px !important;
    border-radius: 30px !important;
    border-color: rgb(79, 180, 101) !important;
    border-width: 2px !important;
}

.boton_cerrar {
    background-color: none !important;
}