:root {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.sign_up_container {
    display: flex;
    
}

.left_panel {
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.right_panel {
    flex: 1;
    background-color: #b2e3d3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

h2 {
    margin: 0;
    font-size: 2em;
    font-weight: 500;
}

p {
    margin: 10px 0;
    font-weight: 400;
  }
  
  a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .sign_in_button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4ed2a0;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: 500;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  
  input {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4ed2a0;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 1em;
  }
  